.main{
  width: 100%;
  height: 90%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

table {
  width: 70%;
  height: 70px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table, td, th {
  border: 4px solid black;
  padding: 8px;
}

th {
  
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    width: 200px; 
    height: 50px; 
}

h2{
  margin-left: 45%;
}
.modal {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.715);
  flex-direction: column;
}
.modalForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}