.main{
  width: 100%;
  height: 90%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

table {
  background-color: aliceblue;
  width: 80%;
  height: 70px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

table, td, th {
  padding: 8px;
}

th {
  
    margin-left: auto;
    margin-right: auto;
}

input[type="text"] {
    width: 200px; 
    height: 50px; 
}
.modal {
  display: flex;
  position: fixed;
  width: 20%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.726);
  flex-direction: column;
  gap: 10px;
}
.modalForm{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}
.input{
  width: 40% !important; 
  height: 10% !important;
}
.but{
  width: 20%;
  height: 30%;
  border-radius: 10px;
  font-weight: bold;
  background-color: black;
  color: white;
}
.th td{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.modal{
    width: 20%;
    height: 40%;
    max-width: 500px;
    border-radius: 15px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-shadow: 7px 7px rgba(142, 142, 142, 0.73);
}
.modalBut{
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
}
