/* data.module.css */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.box {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  background:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px; /* Increased padding */
  box-shadow: 7px 7px rgba(142, 142, 142, 0.73);
}

.form {
  width: 100%;
  max-width: 400px;
}

.h1 {
  color: #333;
  font-size: 28px; /* Larger font size */
  margin-bottom: 20px;
}

.error {
  color: #ff5555;
  text-align: center;
  margin-bottom: 15px;
}

.divContainer {
  width: 100%;
  margin-bottom: 25px; /* Increased margin */
  background-color: none;
}

label {
  color: black;
  font-size: 14px; /* Smaller font size */
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 12px; /* Increased padding */
  border-radius: 8px;
  background: none;
  color: #333;
  transition: 0.3s;
  box-sizing: border-box;
}

.input:focus {
  outline: none;
  border-color: #5bb4b7;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.select {
  width: 100%;
}

.submit {
  background: black;
  border-radius: 30px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  transition: 0.3s ease;
  padding: 8px 16px;
  opacity: 0.7;
}

.submit:hover {
  padding: 8px 24px;
  opacity: 1;
  scale: 1.1;
}
