.main{
    display: flex;
    background-color:#418e91;
    color: white;
    font-size: 28px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}
.header{
    display: flex;
    gap: 40px;
}
.res{
    text-decoration: none;
    color: #0c0c0c;
    transition: color 0.2s ease;
}
.res:hover{
    color: white;
}
@media only screen and (max-width: 900px) {
    .main{
        align-items: center;
        justify-content: center;
        overflow: auto;
        width: 100%;
    }
    .header{
        overflow-x: scroll;
        
        align-items: center;
        padding: 10px 50px;
    }
}
