.main-container{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 20px;
    height: 80vh;
    width: 100%;
    border-radius: 20%;
}

.bottom-left {
    position: absolute;
    bottom: 50%;
    left: 3%;
    font-size: 50px;
    cursor: default;
}

@media screen and (max-width:420px) {
    .banner {
      width:350px;
    }
  }