.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 20px;
    height: 80vh;
    width: 95%;
    border-radius: 20%;
}

.bottom-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    font-size: 50px;
    cursor: default;
}

@media screen and (max-width:420px) {
    .banner {
      width:350px;
    }
  }

img{
  
  width: 60%;
  height: 90%;
}