/* reports.module.css */

/* General Styles */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reportsContainer {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 7px 7px rgba(142, 142, 142, 0.73);
}

/* Table Styles */
.table {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.table > div {
  display: flex;
  justify-content: space-around;
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table > div > div {
  flex: 1;
}

.image {
  max-width: 100px;
  border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .reportsContainer {
    margin: 10px;
    padding: 10px;
  }

  .table > div {
    padding: 8px;
  }
}
